@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Comfortaa:wght@300..700&family=Comic+Relief:wght@400;700&family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", sans-serif;
  background: #000000;
  color: #333;
  font-family: "Antic Slab", serif;
  font-weight: 400;
  font-style: normal;
}

img {
  width: 45px;
  height: auto;
}

header {
  background: #000;
  color: rgb(255, 255, 255);
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactoheader{
  color: rgb(206, 206, 255);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.contactoheader:hover{
  background-color: rgb(74, 74, 74);
  border-radius: 10%;
}

header h1 {
  margin: 0;
  font-size: 1.8em;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

div {
    font-size: 30px;
    padding: 50px;
    
}

.services {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px auto;
  max-width: 1000px;
  padding: 0 20px;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  padding: 200px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card h1{
  color: #a64e4e;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 15px;
  color: #000;
}

.card p {
  color: #555;
}

    .cta-button {
      background: #bcc8ff;
      color: black;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      margin-top: 1rem;
      cursor: pointer;
      transition: background 0.3s;
      font-size: 20px;
    }

    .cta-button:hover {
      background: #798dcf;
      color: #fff;
    }


    select {
      margin-top: 1rem;
      padding: 0.5rem;
      width: 100%;
      border-radius: 8px;
      border: 1px solid #ccc;
    }

footer {
  background: #a64e4e;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}